.universal-container {
    margin-top: 20px;
}

#data_studio_wrapper {
    width: 70%;
    height: calc(100vh - 75px);
    /* background-color: darkblue */
}

#chatbox_wrapper {
    height: calc((100vh - 75px) * .9);
    /* border: 1px solid yellow; */
    overflow-x: hidden;
    overflow-y: auto;
}

#chatbox_wrapper::-webkit-scrollbar {
    width: .1px;
}

#promptbox_wrapper {
    height: calc((100vh - 75px) * .1);
    /* border: 1px solid green; */
    padding-top: 10px;
}

#promptbox_wrapper input {
    border: none;
    background-color: #0A0A0A;
    height: 50px;
    border-radius: 15px;
}

#promptbox_wrapper input::placeholder {
    font-size: 14px;
    font-weight: 250;
}