@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    overflow-x: hidden;
    background: rgb(0, 0, 0) !important;
    /* padding: 20px; */
    font-family: 'Nunito';
}

.universal-container {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
}
